        <div class="basket_wrapp">
          <div class="basket_strip">
              <section class="row_flex">
                  <div class="basket_icon"><div id="products-in-cart">0</div></div>
                  <p id="cart-total"></p>
                  <a href="{{ checkout }}">{{ button_checkout }}</a>
                </section>
            </div>
        </div>
        <footer>
          <section class="row_flex">
              <div class="item">
                  <div class="nav">
                      <ul>
                        <li><a href="{{ home }}">Главная</a></li>
                        <li><a href="{{ delivery_href }}">{{ delivery_title }}</a></li>
                        <li><a href="{{ repair_href }}">{{ repair_title }}</a></li>
                        <li><a href="{{ articles_href }}">Статьи</a></li>
                        <li><a href="{{ contact }}">{{ text_contact }}</a></li>
                        </ul>
                    </div>
                    <div class="row_flex">
                      <div class="logo_block">
                          <a class="logo" title="{{ name }}" href="{{ home }}"></a>
                            <ul class="social">
                              <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                            </ul>
                            <div class="payment">
                              <span>Способы оплаты:</span>
                                <ul>
                                  <li><a href="#"></a></li>
                                    <li><a href="#"></a></li>
                                    <li><a href="#"></a></li>
                                    <li><a href="#"></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="contact">
                          <div class="address">{{ address }}</div>
                            <div class="mode">Режим работы: <span>{{ open }}</span></div>
                            <div class="phone">
                              <a href="{{ contact }}">{{ telephone }}</a>
                        <div><a class="popup" href="#call_back">Обратный звонок</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ask_question">
                  <h2>Задать вопрос</h2>
                    <form class="question" action="{{ action_callout }}" method="post">
                      <input name="name" class="input" type="text" placeholder="Имя" pattern=".{3,32}" required>
                      <input name="telephone" class="input" type="text" placeholder="Телефон" pattern=".{3,32}" required>
                      <textarea name='enquiry' required></textarea>
                      <div><input class="submit" type="submit" value="Отправить"></div>
                    </form>
                </div>
            </section>
        </footer>
        <div id="gotop"></div>
        <div id="call_back" class="call_back">
          <h3>Заказать звонок</h3>
          <form class="call_out" action="{{ action_callout }}" method="post">
            <input name="name" type="text" placeholder="Ваше имя" pattern=".{3,32}" required>
            <input name="telephone" type="text" placeholder="Ваш телефон" pattern=".{3,32}" required>
            <input type="submit" value="Заказать">
          </form>
        </div>
<script type="text/javascript" src="catalog/view/javascript/js/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="catalog/view/javascript/js/main-slider.js"></script>
<script type="text/javascript" src="catalog/view/javascript/js/jquery.magnific-popup.js"></script>
<script type="text/javascript" src="catalog/view/javascript/js/jquery.placeholder.min.js"></script>
<script type="text/javascript" src="catalog/view/javascript/js/scripts.js"></script>
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
</body></html>