{% if id == 'shipping_address_field20' or id == 'shipping_address_field21' %}
  {% if id == 'shipping_address_field20' %}
<div class="col row_flex">
  {% endif %}
  <div class="{% if required %}required{% endif %}row-{{id}}">
    <label for="{{id}}"></label>
    <input  class="input form-control" type="{{ type }}" name="{{ name }}" id="{{ id }}" value="{{ value }}" placeholder="{{ placeholder }}" {{ attrs }} {{ reload ? 'data-onchange="reloadAll"' : 'data-reload-payment-form="true"'}}>
  </div>
  {% if id == 'shipping_address_field21' %}
</div>
  {% endif %}
{% else %}

{% if 0 %}
{% set label = id == 'shipping_address_address_1'? '': label %}
<div class="col {% if required %}required{% endif %} row-{{id}}">
  <label for="{{id}}">{{label}}</label>
  <input class="input" type="{{ type }}" name="{{ name }}" id="{{ id }}" value="{{ value }}" placeholder="{{ placeholder }}" {{ attrs }} {{ reload ? 'data-onchange="reloadAll"' : 'data-reload-payment-form="true"'}}>
</div>
{% endif %}

<div class="col form-group {% if required %}required{% endif %} row-{{id}}">
    {% set label = id == 'shipping_address_address_1'? '': label %}
    <label class="control-label {{page == 'checkout' ? 'col-sm-4' : 'col-sm-2' }}" for="{{id}}">{{label}}</label>
    <div class="bad-slicing {{page == 'checkout' ? 'col-sm-8' : 'col-sm-10'}}">
      {% if type == 'select' or type == 'select2' %}
        <select class="form-control" name="{{ name }}" id="{{ id }}" {{ bootstrap ? 'data-theme="bootstrap"' : '' }} {{ type == 'select2' ? 'data-type="select2"' : '' }} {{ reload ? 'data-onchange="reloadAll"' : 'data-reload-payment-form="true"'}}>
          {% for info in values %}
            <option value="{{ info['id'] }}" {{ value == info['id'] ? 'selected="selected"' : '' }}>{{ info['text'] }}</option>
          {% endfor %}
        </select>
      {% elseif type == 'radio' %}
        <div>
        {% for info in values %}
          <div class="radio">
            <label><input type="radio" name="{{ name }}" id="{{ id }}" value="{{ info['id'] }}" {{ value == info['id'] ? 'checked="checked"' : '' }} {{ reload ? 'data-onchange="reloadAll"' : 'data-reload-payment-form="true"' }}>{{ info['text'] }}</label>
          </div>
        {% endfor %}
        </div>
      {% elseif type == 'checkbox' %}
        <div>
        {% for info in values %}
          <div class="checkbox">
            <input type="hidden" name="{{ name }}[{{ info['id'] }}]" value="0">
            <label><input type="checkbox" name="{{ name }}[{{ info['id'] }}]" id="{{ id }}" value="1" {{ value[info['id']] is not empty ? 'checked="checked"' : '' }} {{ reload ? 'data-onchange="reloadAll"' : 'data-reload-payment-form="true"'}}>{{ info['text'] }}</label>
          </div>
        {% endfor %}
        </div>
      {% elseif type == 'textarea' %}
        <textarea class="form-control" name="{{ name }}" id="{{ id }}" placeholder="{{ placeholder }}" {{ reload ? 'data-onchange="reloadAll"' : 'data-reload-payment-form="true"'}}>{{ value }}</textarea>
      {% elseif type == 'captcha' %}
        {% if site_key %}
          <script src="https://www.google.com/recaptcha/api.js" type="text/javascript"></script>
          <input type="hidden" name="{{ name }}" id="{{ id }}" value="{{ value }}">
          <script type="text/javascript">function recaptchaCallback(value){$('#{{ id }}').val(value).trigger('change')}</script>
          <div class="g-recaptcha" data-sitekey="{{ site_key }}" data-callback="recaptchaCallback"></div>
        {% else %}
          <input type="text" class="form-control" name="{{ name }}" id="{{ id }}" value="" placeholder="{{ placeholder }}" {{ reload ? 'data-onchange="reloadAll"' : 'data-reload-payment-form="true"'}}>
          <div class="simple-captcha-container"><img src="index.php?{{ additional_path }}route=common/simple_connector/captcha&t={{ time }}" alt="" id="captcha" /></div>
        {% endif %}
      {% elseif type == 'file' %}
        <input type="button" value="{{ button_upload }}" data-file="{{ id }}" class="button form-control">
        <div id="text_{{ id }}" style="margin-top:3px;max-width:200px;">{{ filename }}</div>
        <input type="hidden" name="{{ name }}" id="{{ id }}" value="{{ value }}">
      {% elseif type == 'date' %}
        <div class="input-group date">
          <input class="form-control" type="text" name="{{ name }}" id="{{ id }}" value="{{ value }}" placeholder="{{ placeholder }}" {{ attrs }} {{ reload ? 'data-onchange="reloadAll"' : 'data-reload-payment-form="true"'}}>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
          </span>
        </div>
      {% elseif type == 'time' %}
      <div class="input-group time">
        <input class="form-control" type="text" name="{{ name }}" id="{{ id }}" value="{{ value }}" placeholder="{{ placeholder }}" {{ attrs }} {{ reload ? 'data-onchange="reloadAll"' : 'data-reload-payment-form="true"'}}>
        <span class="input-group-btn">
          <button type="button" class="btn btn-default"><i class="fa fa-clock-o"></i></button>
        </span>
      </div>
      {% else %}
        <input class="input form-control" type="{{ type }}" name="{{ name }}" id="{{ id }}" value="{{ value }}" placeholder="{{ placeholder }}" {{ attrs }} {{ reload ? 'data-onchange="reloadAll"' : 'data-reload-payment-form="true"'}}>
      {% endif %}
      {% if rules is not empty %}
        <div class="simplecheckout-rule-group" data-for="{{ id }}">
          {% for rule in rules %}
            <div {{ rule['display'] and not rule['passed'] ? '' : 'style="display:none;"' }} data-for="{{ id }}" data-rule="{{ rule['id'] }}" class="simplecheckout-error-text simplecheckout-rule" {{ rule['attrs'] }}>{{ rule['text'] }}</div>
          {% endfor %}
        </div>
      {% endif %}
      {% if description %}
        <div class="simplecheckout-tooltip" data-for="{{ id }}">{{ description }}</div>
      {% endif %}
    </div>
 </div>
{% endif %}