<div class="banner">
	{% for banner in banners %}
	<div>
		{% if banner.title %}
   	<h4>{{ banner.title }}</h4>
   	{% endif %}
   	{% if banner.title_p %}
   	<p>{{ banner.title_p }}</p>
   	{% endif %}
	</div>
	{% if banner.link %}
	<a href="{{ banner.link }}">
		<img src="{{ banner.image }}" alt="{{ banner.title }}">
	</a>
	{% else %}
	<img src="{{ banner.image }}" alt="{{ banner.title }}">
	{% endif %}
	{% endfor %}
</div>