<div class="color_block">
  {% if name %}
  <h2>{{ name }}</h2>
  {% endif %}
  <div class="color_slider owl-carousel">
    {% for banner in banners %}
    <div class="item">
      {% if banner.link and not banner.is_item %}
      <a href="{{ banner.link }}">
      {% endif %}
        <div class="img"><img src="{{ banner.image }}" alt="{{ banner.title }}"></div>
        <div class="check">
          {% if banner.is_item %}
          <input type="checkbox" id="c{{ banner.id }}" name="cc" checked="checked" />
          <label for="c{{ banner.id }}"><span></span>{{ banner.title }}</label>
          {% else %}
          <input type="checkbox" id="c{{ banner.id }}" name="cc"/>
          <label for="c{{ banner.id }}"><span></span>{{ banner.title }}</label>
          {% endif %}
        </div>
      {% if banner.link and not banner.is_item %}
      </a>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</div>
<script type="text/javascript"><!--
$(document).ready(function() {
  var owl = $('.color_slider');

  owl.owlCarousel({
    margin:12,
    nav: true,
    loop: true,
    smartSpeed:500,
    responsive: {
      0: {items: 1},
      690: {items: 2},
      935: {items: 3, margin:0},
      1160: {items: 4}
    }
  });
});
--></script>