<div class="color_block">
  {% if name %}
  <h2>{{ name }}</h2>
  {% endif %}
  <div class="color_slider owl-carousel">
    {% for banner in banners %}
    <div class="item">
      {% if banner.link and not banner.is_item %}
      <a href="{{ banner.link }}">
      {% endif %}
        <div class="img"><img src="{{ banner.image }}" alt="{{ banner.title }}"></div>
        <div class="check">
          {% if banner.is_item %}
          <input type="checkbox" id="c{{ banner.id }}" name="cc" checked="checked" />
          <label for="c{{ banner.id }}"><span></span>{{ banner.title }}</label>
          {% else %}
          <input type="checkbox" id="c{{ banner.id }}" name="cc"/>
          <label for="c{{ banner.id }}"><span></span>{{ banner.title }}</label>
          {% endif %}
        </div>
      {% if banner.link and not banner.is_item %}
      </a>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</div>