{{ header }}
<div class="container">
  <section class="catalog_wrapp row_flex">
    <div class="left_col">
      <div class="filter">
            <div class="wrapp">
                <div class="popular_models">
                    <h3>Популярные модели</h3>
                      <ul>
                        <li><a href="#">Umka 4,5</a></li>
                          <li><a href="#">Smart Wheel</a></li>
                          <li><a href="#">Smart Wheel 6,5</a></li>
                          <li><a href="#">Smart Premium</a></li>
                          <li><a href="#">Брендовые</a></li>
                          <li><a href="#">Kivano</a></li>
                      </ul>
                  </div>
                  <div class="wheel_size">
                    <h3>Размер колес</h3>
                      <ul>
                        <li><a href="#">6, 5 дюймов</a></li>
                          <li><a href="#">8 дюймов</a></li>
                          <li><a href="#">10 дюймов</a></li>
                          <li><a href="#">10,5 дюймов</a></li>
                      </ul>
                  </div>
                  <div class="manufacturer">
                    <h3>Производитель</h3>
                      <ul>
                        <li><a href="#">Smart Balance</a></li>
                          <li><a href="#">iBalance</a></li>
                          <li><a href="#">Swagtron</a></li>
                      </ul>
                  </div>
                  <div class="for_whom">
                    <h3>Для кого</h3>
                      <ul>
                        <li><a href="#">Взрослый</a></li>
                          <li><a href="#">Детские</a></li>
                          <li><a href="#">Для мальчика</a></li>
                          <li><a href="#">Для девочки</a></li>
                      </ul>
                  </div>
                <div class="slider_prise">
                    <h3>Цена</h3>
                    <input type="text" id="range" value="" name="range" />
                  </div>
              </div>
          </div>
      {{ column_left }}
    </div>
      <div class="right_col">
        <div class="bread_crumbs">
          <ul>
            {% for breadcrumb in breadcrumbs %}
            <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
            {% endfor %}
            </ul>
        </div>
        <h2>{{ heading_title }}</h2>
        <div class="main_catalog">
          {% if products %}
          <ul>
            {% for product in products %}
            <li>
              <div class="wrapp">
                {% if product.discount %}
                <div class="discount">-{{ product.discount }}%</div>
                {% endif %}
                <div class="img"><a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}"></a></div>
                <h3>{{ product.name }}</h3>
                {% if product.attribute %}
                <div class="hiden_block">
                  <p>Характеристики</p>
                  <div class="dropp">
                    <div>
                      {% for attribute_group in product.attribute %}
                      {% for attribute in attribute_group.attribute %}
                      <p>{{ attribute.name }}: {{ attribute.text }}</p>
                      {% endfor %}
                      {% endfor %}
                    </div>
                  </div>
                </div>
                {% endif %}
                <div class="prise row_flex">
                  {% if product.price %}
                  <div>
                    {% if not product.special %}
                    <strong>{{ product.price }}</strong>
                    {% else %}
                    <strong>{{ product.special }}</strong>
                    <s>{{ product.price }}</s>
                    {% endif %}
                  </div>
                  {% endif %}
                  <a href="#" onclick="event.preventDefault(); cart.add('{{ product.product_id }}');">{{ button_cart }}</a>
                </div>
              </div>
            </li>
            {% endfor %}
          </ul>
          {% endif %}
          {% if not categories and not products %}
          <p>{{ text_empty }}</p>
          <div class="buttons">
            <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
          </div>
          {% endif %}
        </div>
        {% if pagination %}
        <a id="more_product" href="{{ pagination }}">Загрузить еще</a>
        {% endif %}
      </div>
  </section>
  {{ content_top }}
  {% if description_video %}
  <div class="video_reviews">
    {{ description_video }}
  </div>
  {% endif %}
  {% if description %}
  <div class="catalog_text">
    {{ description }}
  </div>
  {% endif %}
  {{ content_bottom }}
</div>
{{ footer }}
