{{ header }}
<div class="container">
  <section class="catalog_wrapp row_flex">
    <div class="right_col">
      <div class="bread_crumbs">
        <ul>
          {% for breadcrumb in breadcrumbs %}
          <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
          {% endfor %}
          </ul>
      </div>
      <h2>{{ heading_title }}</h2>
      <div class="main_catalog">
        {% if products %}
        <ul>
          {% for product in products %}
          <li>
            <div class="wrapp">
              {% if product.discount %}
              <div class="discount">-{{ product.discount }}%</div>
              {% endif %}
              <div class="img"><a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}"></a></div>
              <h3>{{ product.name }}</h3>
              {% if product.attribute %}
              <div class="hiden_block">
                <p>Характеристики</p>
                <div class="dropp">
                  <div>
                    {% for attribute_group in product.attribute %}
                    {% for attribute in attribute_group.attribute %}
                    <p>{{ attribute.name }}: {{ attribute.text }}</p>
                    {% endfor %}
                    {% endfor %}
                  </div>
                </div>
              </div>
              {% endif %}
              <div class="prise row_flex">
                {% if product.price %}
                <div>
                  {% if not product.special %}
                  <strong>{{ product.price }}</strong>
                  {% else %}
                  <strong>{{ product.special }}</strong>
                  <s>{{ product.price }}</s>
                  {% endif %}
                </div>
                {% endif %}
                <a href="#" onclick="event.preventDefault(); cart.add('{{ product.product_id }}');">{{ button_cart }}</a>
              </div>
            </div>
          </li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
      {% if pagination %}
      <a id="more_product" href="{{ pagination }}">Загрузить еще</a>
      {% endif %}
    </div>
  </section>
  {{ content_top }}
  {% if description %}
  <div class="catalog_text">
    {{ description }}
  </div>
  {% endif %}
  {{ content_bottom }}
</div>
<script type="text/javascript"><!--  --></script>
{{ footer }}