{{ header }}
{{ content_top }}
<div class="bread_crumbs">
  <ul>
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
    </ul>
</div>
<div class="reviews_page">
    <h2>{{ heading_title }}</h2>
    <ul id="review"></ul>
    <a id="more-review" href="{{ review|raw }}">Загрузить еще</a>
</div>
{% if review_status %}
<section class="feedback_wrapp">
    <div class="feedback">
        {% if review_guest %}
        <h2>{{ text_write }}</h2>
        <form action="{{ write|raw }}" id="form-review">
            <input class="input" type="text" name="name" value="{{ customer_name }}" placeholder="{{ entry_name }}">
            <textarea name="text" placeholder="{{ entry_review }}"></textarea>
            <input type="hidden" name="rating" value="5">
            {{ captcha }}
            <div id="block-button-review" class="align"><input class="submit" type="submit" value="{{ button_continue }}"></div>
        </form>
        {% else %}
        {{ text_login }}
        {% endif %}
    </div>
</section>
{% endif %}
{{ content_bottom }}
{{ footer }}