<ul class="advantages">
	<li>
    	<a href="{{ dostavka_href }}">
        	<div class="icon"></div>
            <div class="text">
            	<p>{{ dostavka_title }}</p>
            </div>
        </a>
    </li>
    <li>
    	<a href="{{ garantiya_href }}">
        	<div class="icon"></div>
            <div class="text">
            	<p>{{ garantiya_title }}</p>
            </div>
        </a>
    </li>
    <li>
    	<a href="{{ drajv_href }}">
        	<div class="icon"></div>
            <div class="text">
            	<p>{{ drajv_title }}</p>
            </div>
        </a>
    </li>
    <li>
    	<a href="{{ remont_href }}">
        	<div class="icon"></div>
            <div class="text">
            	<p>{{ remont_title }}</p>
            </div>
        </a>
    </li>
</ul>