{{ header }}
<div class="bread_crumbs">
  <ul>
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
</div>
<div class="contacts">
  <section>
      <h2>{{ heading_title }}</h2>
        <div class="row_flex">
          {% if geocode %}
          <div class="map" id="map"></div>
          {% endif %}
          <div class="contact">
                <div class="address">{{ address }}</div>
                  {% if open %}
                  <div class="mode">{{ text_open }}: <span>{{ open }}</span></div>
                  {% endif %}
                  <div class="phone">
                    <a href="tel:{{ telephone }}">{{ telephone }}</a>
                    <div><a class="popup" href="#call_back">Обратный звонок</a></div>
                  </div>
          </div>
        </div>
    </section>
</div>
<section class="feedback_wrapp">
  <div class="feedback">
      <h2>{{ text_contact }}</h2>
        <form action="{{ action }}" method="post" enctype="multipart/form-data">
          <div class="row_flex">
            <div>
              <input name="name" value="{{ name }}" class="input" type="text" placeholder="{{ entry_name }}">
              {% if error_name %}
              <div class="text-danger">{{ error_name }}</div>
              {% endif %}
            </div>
            <div>
              <input name="telephone" value="{{ val_telephone }}" class="input" type="tel" placeholder="{{ entry_telephone }}">
              {% if error_telephone %}
              <div class="text-danger">{{ error_telephone }}</div>
              {% endif %}
            </div>
            <div>
              <input name="email" value="{{ email }}" class="input" type="email" placeholder="{{ entry_email }}">
              {% if error_email %}
              <div class="text-danger">{{ error_email }}</div>
              {% endif %}
            </div>
          </div>
          <textarea name="enquiry" placeholder="{{ entry_enquiry }}">{{ enquiry }}</textarea>
          {% if error_enquiry %}
          <div class="text-danger">{{ error_enquiry }}</div>
          {% endif %}
          <div class="align">
            <input class="submit" type="submit" value="{{ button_submit }}">
          </div>
        </form>
    </div>
    <div class="row_feed">
      {% if comment %}
      <div class="text_feed">
          {{ comment }}
      </div>
      {% endif %}
      {% if locations %}
      {% for location in locations %}
      {% if location.location_id == 1 %}
      <div class="address">{{ location.name }}: {{ location.address }}</div>
      {% endif %}
      {% endfor %}
      {% endif %}
    </div>
</section>
{{ content_top }}
{{ content_bottom }}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCXGGDEO3zua7UkiieoIIkiOVraufA-ZOA"></script>
<script type="text/javascript"><!--
google.maps.event.addDomListener(window, 'load', init);
  function init() {
    var mapOptions = {
      zoom: 14,
      center: new google.maps.LatLng({{ geocode }}),
    };
    var mapElement = document.getElementById('map');
    var map = new google.maps.Map(mapElement, mapOptions);
    var marker = new google.maps.Marker({
      position: new google.maps.LatLng({{ geocode }}),
      map: map,
      icon: "/image/catalog/map/marker.png",
      title: '{{ address }}'
    });
}
--></script>
{{ footer }}
