{{ header }}
<div class="bread_crumbs">
  <ul>
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
    </ul>
</div>
{{ content_top }}
<section class="articles_detail">
  <h2>{{ heading_title }}</h2>
  {{ description }}
</section>
{{ content_bottom }}
{{ footer }}